/* Catalogue.css */

.productitems-list {
    margin-bottom: 1em;
}

.productitems-list li {
    /*margin: 1em;*/
    border-bottom: 1px solid #ddd;
}

.productitems-list fieldset {
    margin: auto;
    padding: 5px;
}

.spin {
  /*width: 100%;*/
  position: relative;
  left: 50%;
}


/* center align columns inside of the list*/

.productitems-list .pure-g {
    align-items: center;
}

.productitems-list .item-old {
    background-color: #eee;
}

.productitems-list .item-current {
    background-color: white;
}

.productitems-list .item-expiry {
    background-color: #f9b318;
}

.productitems-list .item-new {
    background-color: #dff0d8;
}


/* Some basic panel support */

.panel {
    /* Product card */
    background-color: #fff;
    border: 1px solid rgba(221, 221, 221, 0.5);
    /*padding: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);*/
    margin: 1em;
    box-sizing: border-box;
    /*height: 8em;*/
    /*border-bottom: 1px solid #DDD;*/
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .05);
    /*padding: .5em;*/
    letter-spacing: normal;
    overflow: hidden;
}


/* Individual product */

.panel header, .panel .panel-heading {
    color: #fbff1c;
    padding: 10px 15px;
    font-weight: bold;
    /*border-bottom: 1px solid transparent;*/
    /*color: white;*/
}

.panel .panel-heading {
    display: flex;
}

.panel .panel-heading .panel-title {
    flex-grow: 1;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.panel .panel-body {
    padding: .8em;
}

.panel.panel-warning {
    background-color: rgba(241, 194, 28, .1);
    border-color: rgb(241, 194, 28);
}


/* media element (a.k.a Bootstrap )*/

.media {
    margin-top: 15px;
}

.media:first-child {
    margin-top: 0;
}

.media, .media-body {
    overflow: hidden;
    zoom: 0.9;
}

.media-body {
    width: 10000px;
}

.media-object {
    display: block;
}

.media-object.img-thumbnail {
    max-width: none;
}

.media-right, .media>.pull-right {
    padding-left: 10px;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

.media-middle {
    vertical-align: middle;
}

.media-bottom {
    vertical-align: bottom;
}

.media-heading {
    margin-top: 0;
    margin-bottom: .5em;
    margin-left: .5em;
}

.media-list {
    padding-left: 0;
    list-style: none;
}
