.CatalogueApp {
  height: 100%;
}
.subcategories-list .list-item {

}

.subcategories-list .list-group-item {
  border-style: none none solid none;
  margin-bottom: 0px;
  /*border-bottom: 1px solid rgb(209, 209, 209);*/
}

.item-attribute-name {

}

.item-attribute-name:after {
  content: ":"
}

.item-attribute-value {
    padding-left: 1em;
}

/*.productitems-list {
  border-radius: 0px !important;
  box-shadow: none;
}

.productitems-list > .list-group-item:first-child {
  border-radius: 0px !important;
}

.productitems-list > .list-group-item:last-child {
  border-radius: 0px !important;
}*/

.ProductsApp > div > div > .panel-body {
  height: 8em;
}

/*.panel-primary > .panel-heading {
  color: rgba(250, 255, 0, 0.9) !important;
  font-weight: bold;
}*/

.ProductsApp input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
  -moz-box-shadow: none;
  border-color: red;
}

.ProductsApp input:required:valid {
  /*border-color: green;*/
}

.panel.panel-warning {
  background-color: rgb(241, 194, 28);
}

.productitems-list {
  margin-bottom: 1em;
}

.productitems-list li{
  /*margin: 1em;*/
  border-bottom: 1px solid #ddd;
}

.productitems-list fieldset {
    margin:auto;
    padding: 5px;
}

/* center align columns inside of the list*/
.productitems-list .pure-g {
    align-items: center;
}



.productitems-list li.item-old {
  background-color: #eee;
}

.productitems-list li.item-current {
  background-color: white;
}

.productitems-list li.item-expiry {
  background-color: #f9b318;
}

.productitems-list li.item-new {
  background-color: #dff0d8;
}
