body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
    width: 100%;
}

div.main-content {
  padding-top: 60px !important;
  width: 100%;
  height: 100%;
  padding-left: 0px !important;
}

/* navbar */
nav.app-navbar {
    background-image: linear-gradient(to bottom, #319bdf 0%, #157fc3 100%);
    border-color: #E7E7E7;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    border-width: 0 0 1px;
}
/* title */
.app-navbar a.navbar-brand,
.app-navbar a.navbar-brand:hover,
.app-navbar a.navbar-brand:focus {
    color: rgb(250, 255, 0);
    font-weight: bold;
}
/* link */
nav.app-navbar .navbar-nav > li > a {
    color: rgba(255, 255, 0, 0.8);
}
nav.app-navbar .navbar-nav > li > a:hover,
nav.app-navbar .navbar-nav > li > a:focus {
    color: rgba(255, 255, 0, 1);
}

nav.app-navbar .navbar-nav > li.active > a {
    background-image: linear-gradient(to bottom, #319bdf 0%, #157fc3 100%);
    color: rgba(255, 255, 0, 0.8);
    font-weight: bold;
}
nav.app-navbar .navbar-nav > li.active > a:hover,
nav.app-navbar .navbar-nav > li.active > a:focus {
    color: rgba(255, 255, 0, 1);
}
.app-navbar .navbar-nav > .open > a,
.app-navbar .navbar-nav > .open > a:hover,
.app-navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.app-navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.app-navbar .navbar-nav > .dropdown > a:hover .caret,
.app-navbar .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.app-navbar .navbar-nav > .open > a .caret,
.app-navbar .navbar-nav > .open > a:hover .caret,
.app-navbar .navbar-nav > .open > a:focus .caret {
  background-image: linear-gradient(to bottom, #319bdf 0%, #157fc3 100%);
    /*border-top-color: #555;
    border-bottom-color: #555;*/
}

/* remove border rounds and other similar stuff from bootstrap */
.form-control {
  border-radius: 0px !important;
}

.btn {
  border-radius: 0 !important;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  border-radius: 0px !important;
}

.navbar-default {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.panel.panel-primary {
  border-radius: 0 !important;
}

.list-group {
  border-radius: 0 !important;
}

.list-group-item {
  border-radius: 0 !important;
}

.panel.panel-primary .panel-heading {
  background-image: linear-gradient(to bottom, #319bdf 0%, #157fc3 100%);
  color: rgba(255, 250, 0, 0.9);
  font-weight: bold;
}

.panel-heading {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #319bdf 0%, #157fc3 100%) !important;
}
