/*!
  Header.css
*/
.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
  /*background-image: linear-gradient(180grad, #0679f2, #10549d);*/
  background: radial-gradient(ellipse at center, #0679f2 0%, #10549d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*background: #0679f2;*/
}

.home-menu .pure-menu-heading {
    color: rgb(255, 230, 0);
    font-weight: 800;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
    font-weight: bold;
}

.home-menu a {
    color: white;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    /*font-weight: bolder;*/
    border: none;
    color: white;
}
