.ProductsApp .pure-g section {
  margin:1em;
  box-sizing: border-box;
  /*height: 8em;*/
  /*border-bottom: 1px solid #DDD;*/
  box-shadow: 0 1px 1px 0 #ddd;
  padding: 10px;
}

.ProductsApp a {
  text-decoration: none;
}


.ProductsApp > div > div > .panel-body {
}

/* Product attributes*/
.item-attribute-name {

}

.item-attribute-name:after {
  content: ":"
}

.item-attribute-value {
    padding-left: 1em;
}
