/*!
  CategoryTreeMenu.css
*/

.pure-menu-list.tree {
  padding-left: 1em;
}

.pure-menu-list.tree li{
  /*margin: 0 0 1em 1em;*/
  /*padding-left: 1em;*/
  /*border-top:1px solid #FFFFFF;*/
}

/*.pure-menu-list.tree > li a {
  border-top:1px solid #FFFFFF;
  padding:0 10px 0 0;
  line-height:1.42857143;
  text-decoration: none;
}*/

.pure-menu-list.tree > li a.active {
  font-weight: bold;
  text-decoration: underline;
}

.pure-menu-list.tree .menu-collapsible-icon {
  /*font-size:0.8em;*/ /* Glyph size*/
  margin-right: 5px; /* margin between icon and link*/
}

.pure-menu-list.tree .pure-menu-link {
  padding: .5em .5em .5em 1em;
}

.pure-menu-list.tree form {
  /*margin: 10px 0;*/
  background-color: rgba(245,245,245,0.8);
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.pure-menu-list.tree form input{
  font-size: 0.9em;
}

.pure-menu-list.tree form .pure-button-group {
  font-size: 0.9em;
  display:flex;
  flex-direction: row;
}

.pure-menu-list.tree form .pure-button-group button{
  flex-grow:1; /* Fill complete row with buttons*/
}
