/* The alert message box */

.alert {
    padding: 10px;
    color: white;
    margin: 15px;
    vertical-align: middle;
    animation: fadeIn 1s;
}

.alert.alert-hidden {
    display: none;
}

.alert-error {
    background-color: rgba(244, 67, 54, 0.8);
    /* Red */
}

.alert-info {
    background-color: rgba(54, 192, 244, 0.9);
    /* blue */
}

.alert-warning {
    background-color: rgba(244, 133, 54, 0.9);
    /* orange */
}


/* The close button */

.alert-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.alert-close:hover {
    color: black;
}
