/*!
  Button.css
*/

.button-toolbar {
  display: flex;
}

.button-toolbar .pure-button-group:not(:first-child) {
  margin-left: .5em;
}

.pure-button.button-success,
.pure-button.button-error,
.pure-button.button-warning,
.pure-button.button-secondary {
    color: white;
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.button-xsmall {
    font-size: 60%;
}

.pure-button.button-small {
    font-size: 85%;
}

.pure-button.button-large {
    font-size: 110%;
}

.pure-button.button-xlarge {
    font-size: 125%;
}

.pure-button.button-primary {
    background: rgb(0, 107, 250); /* this is a blue */
}

.pure-button.button-info {
    background: rgb(0, 107, 250); /* this is a blue */
}

.pure-button.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button.button-danger {
    background: rgb(223, 38, 20); /* this is an red */
}

.pure-button.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button .fa + span {
  margin-left: 2px; /* distance between icon and text*/
}

@media screen and (max-width: 970px) /* Mobile */ {
  .hidden-sm {
    display:none;
  }
}
